@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

/*******  splashpage styles  *******/
.splash-page {
	height: 100vh;
	width: 100%;
	background-image: url("textures/recipe-page-texture.png");
}

.title-text-splash {
	font-family: "Josefin Slab";
	font-size: 40px;
	font-weight: bold;
	color: #333333;
	text-align: center;
}

.title-container {
	list-style-type: none;
	display: table;
	position: fixed;
  position:fixed;
  transform: translate(-50%, -50%);
  top:50%;
  left:50%;
}

.glyphicon.glyphicon-book {
	color: #333333;
	font-size: 120px;
	line-height: 100%;
	padding-top: 20px;
	padding-left: 30px;
	cursor: pointer;

  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.glyphicon.glyphicon-book:hover {
	color: #606060;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

/*******  sidebar template styles  *******/

.sidebar {
	/*background-color: #c4a38b;*/
	background-image: url("textures/dark-blue-texture.png");
  background-size: 100% 100%;
	width: 400px;
	height: 100%;
	min-height: 600px;
	display: block;
	position: absolute;
	/*overflow-y: auto;*/
	overflow: hidden;

/*	-webkit-box-shadow: 4px 2px 29px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 4px 2px 29px -2px rgba(0,0,0,0.75);
	box-shadow: 4px 2px 29px -2px rgba(0,0,0,0.75);*/
}

.title-text {
	font-family: "Josefin Slab";
	color: #efefef;
	font-size: 28px;
	font-weight: bold;
	text-align: left;
	margin: 30px 20px;
	margin-bottom: 0px;
	text-align: center;
}

.recipe-list {
	margin: 10px 10px;
	font-family: "Open Sans";
	font-size: 20px;
	color: #213035;
	text-align: center;
}

.btn-group-vertical {
	padding-left: 20px;
	width: 93%;
  /*set height of recipe list to fit page*/
	height: calc(100% - 145px);
}

.recipe-item.btn.btn-default {
	background-color: transparent;
	font-family: "Open Sans";
	font-size: 16px;
	color: #90a9b2;
	border-color: #7c939b;
	border-width: 2px;
	height: 50px;

  -webkit-transition: background-color 0.5s, color 0.5s;
  -moz-transition: background-color 0.5s, color 0.5s;
  -o-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.5s;
}

.recipe-item.btn.btn-default:hover {
	background-color: #7c939b;
	color: #213035;

  -webkit-transition: background-color 0.5s, color 0.5s;
  -moz-transition: background-color 0.5s, color 0.5s;
  -o-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.5s;
}

.recipe-item.btn.btn-default.recipe-show {
	background-color: #7c939b;
	color: #213035;
}

.ingredients-container {
	padding: 10px 20px;
	background-color: #8ea6ad;
	font-family: "Open Sans";
	color: #444444;
	overflow: scroll;
	height: 70%;
	/*display: none;*/

	/*text-align: center;*/
	/*opacity: 0.5;*/
}

.ingredients-header {
	font-size: 20px;
	font-weight: bold;
	margin: 10px 0 10px 0;
}

.ingredients-list {
	text-align: left;
	padding-left: 10px;
	list-style-type: none;
	/*margin-top: 10px;*/
}

.ingredients-item {
	padding-bottom: 10px;
	padding-left: 10px;
	line-height: 15px;
	font-size: 14px;
}

input[type="checkbox"] {
	font-size: 50px;
	margin-bottom: 15px;
}

/*ul.btn-group-vertical {
	padding-bottom: 300px;
}*/

/*******  recipe page styles  *******/

.recipe-page {
	margin-left: 400px;
	height: 100vh;
	min-height: 600px;
	background-image: url("textures/recipe-page-texture.png");
}

.cooking-pot {
	width: 250px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(35%, -50%);
	opacity: 0.4;
}

.recipe-video.embed-responsive.embed-responsive-16by9 {
	height: 100%;
	min-height: 600px;
}